@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-white;
  }
}

@layer components {
  .nav-icon {
    @apply hover:animate-float;
  }
  
  .typewriter-cursor {
    @apply inline-block w-1 h-6 ml-1 bg-gradient-to-r from-[#FF512F] to-[#DD2476];
    animation: blink 1s step-end infinite;
  }
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-5px) rotate(5deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}